cleanup = false

workDir = '/path/to/nf_workDir_project'

dag.overwrite = true

process {

    executor = 'slurm'
    queue = 'standard'
    memory = '8G'
    errorStrategy = 'retry'
    time = '8h'
    container = 'file://env/project.sif'

}

executor {

    submitRateLimit = '10sec'
    queueSize = 128

}

singularity {

    enabled = true
    autoMounts = true

}

env {

    out_dir = '/path/to/save/published/results'

}

params {

    example_parameter = 1

}